/target
*.exe
*.pdb
*.dll
*.obj
*.log
*.vspscc
*.vssscc
*.suo
*.user
*.cache
*.dbmdl
*.bak
*.backup
*.tmp
*.vs
*.vscode
*.idea
*.sln.docstates
*.ncb
*.sdf
*.opensdf
*.suo
*.user
*.cache
*.dbmdl
*.bak
*.backup
*.tmp
*.vs
*.vscode
*.idea
*.sln.docstates
*.ncb
*.sdf
*.opensdf
*.suo